
body {
  background-image: url("http://arcadenw.org/images/uploads/content-media/29-1_sewers-2.jpg");
  background-size: 2500px;
  background-repeat: no-repeat;
}

.header {
  color: white;
  text-align: center;
  font-size: 150px;
}

.turtleblock {
  width: 3000px;
  padding-left: 40px;
  padding-right: 40px;
}

.turtle img{
  height: 200px;
  /*float: left;*/
  padding-right: 40px;
}
.turtle {
  float: left;
  width: 400px;
  margin: 12px;
  border: 5px solid #FEDB00;
  padding: 4px;
  background-color: #159C00;
}

.ratblock {
  display: block;
  width: 900px;
  padding-left: 230px;
  /*padding-right: 200px;*/
}

.rat img{
  height: 200px;
  padding-right: 40px;
}

.rat {
  float: right;
  width: 400px;
  border: 5px solid #FEDB00;
  background-color: #159C00;
}
