.turtleblock {

  
}

.turtle img{
  height: 200px;
  /*float: left;*/
  padding-right: 40px;
}
.turtle {
  float: left;
  width: 200px;
  margin: 12px;
  border: 5px solid #FEDB00;
  padding: 4px;
  background-color: #159C00;
}

.rat img{
  height: 200px;
  padding-right: 40px;
}

.rat {
  text-align: center;
}
