
body {
  background-image: url("http://arcadenw.org/images/uploads/content-media/29-1_sewers-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  text-align: center;
  font-size: 150px;
  color: #159C00;
  text-shadow: 5px 5px 2px #FEDB00;
}

h2.header {
  text-align: center;
  font-size: 75px;
  color: #159C00;
  text-shadow: 5px 5px 2px #FEDB00;
}

.turtleblock {
  float: left;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  /*padding-left: 40px;
  padding-right: 40px;*/
}

.turtle {
  display: inline-block;
  text-align: center;
  white-space: normal;
  width: 300px;
  margin: 12px;
  border: 5px solid #FEDB00;
  padding: 4px;
  background-color: #159C00;
}

.turtle img{
  height: 150px;
  object-position: center;
}

.turtle h1{
  color: #FEDB00;
}

.turtle h2{
  color: #FEDB00;
}

.ratblock {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.rat {
  display: inline-block;
  text-align: center;
  white-space: normal;
  width: 300px;
  margin: 12px;
  border: 5px solid #FEDB00;
  padding: 4px;
  background-color: #159C00;
}

.rat img{
  height: 200px;
  object-position: center;
}

.rat h1{
  color: #FEDB00;
}

.rat h2{
  color: #FEDB00;
}
